
/* disabled input box that confirms self userID */ 
.clientid { 
    border: none; 
    background-color: fffbbf;
    width: 100px;
}

/* hide element */
.hidden {
  visibility: hidden;
}

/* visible element */
.visible {
  visibility: visible;
}

.cell{
  width:  75px;
  height: 75px;
}

/* main container */
.container {
    text-align: center;
}

/* list used un lobby to select, remove bullet */
li {
    list-style-type: none;
}

/* card container in center screen */
.card {
    width: 500px; /* Adjust width as needed */
    height: 400px; /* Adjust height as needed */
    border: 1px solid #ccc;
    border-radius: 10px; /* Optional: Rounded corners */
    overflow: hidden; /* Prevent content from overflowing */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* body layout inside card */
  .card-body {
    position: relative;
    padding: 0px; /* Adjust padding as needed */
  }
  
  /* absolute centering */
  .card-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 10px; /* Optional: Rounded corners */
    overflow: hidden;
    background-color: #f0f0f0; /* Optional: Background color */
    justify-content: center;
    align-items: center;
    text-align: center;
  }