/* Main container that holds game */
.container 
{
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

/* Div inside container that displays the hangman image */
.image 
{
    height: 160px;
}

/* Div inside container that has the actual word */
.letters
{
    height: 60px;
    margin-top: 15px;
}

/* Style for actual letter unit */
.letter
{
    border-bottom: 5px black solid;
}

/* Div that contains level & category */
.setup
{
    margin-top: 50px;
}

/* Option Letter List */
ul {
    list-style: none;
    margin-top: 15px;
  }

/* Option letter list item */
li {
    display: inline-block;
    margin-right: 10px; 
  }